# Python / backend
__pycache__/
*.pyc
.venv/
*.db
.pytest_cache/
.env

# PlatformIO / firmware
firmware/.pio/
firmware/.vscode/

# Flutter / mobile
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.idea/
mobile/*.iml

# General
.DS_Store
*.log
